# Node modules
node_modules/

# Output directories
.next/
out/
dist/

# Logs and Debugging
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env
.env.local
.env.*.local

# MacOS
.DS_Store

# IDEs
.vscode/
.idea/

# TypeScript
*.tsbuildinfo

# GitHub
.git/
